<h1>{{requestMethod}} Request Received</h1>

{{#if parseableQuery}}
<table style="border: 1px solid gray">
  <thead>
    <tr>
      <th>Query Field</th>
      <th>Query Value</th>
    </tr>
  </thead>
  <tbody>
    {{#each queryFields}}
    <tr><td>{{this.field}}</td><td>{{this.value}}</td></tr>
    {{/each}}
	</tbody>
</table>
{{/if}}

{{#if parseableBody}}
<table style="border: 1px solid gray">
  <thead>
    <tr>
      <th>Body Field</th>
      <th>Body Value</th>
    </tr>
  </thead>
  <tbody>
    {{#each bodyFields}}
    <tr><td>{{this.field}}</td><td>{{this.value}}</td></tr>
    {{/each}}
	</tbody>
</table>
{{/if}}
